<ion-header class="body" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscador de Pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <div class="body">
    <div class="total">
      <ion-input class="inputs" type="text" [(ngModel)]="pokemon"
        placeholder="Introduce el nombre del pokemon a buscar">
      </ion-input>
      <ion-button (click)="buscarPokemon()">Buscar pokemon</ion-button>
      <h1 id="textoAmostrar"></h1>
    </div>
  </div>
</ion-content>
